html{
    background-color:#0000b2;
    background-size:cover;
}


body {
    color:#00cc7a;
    margin: 60px auto;
    width: 100%;
    max-width:100%;
}


nav ul li, footer ul li {
    display: inline;
    margin-right: 100px;
}
a {
    text-decoration: none;
    color:black;
}
a:hover {
    text-decoration: bold
    color: red;
    
}
h1 {
    font-size: 3em;
    font-family: "Brush Script MT",cursive;
    text-align:center;
}

div.php-image{
    clear:left;
    padding:5px;
}
div.intro{
    clear:right;
    font-family: "Brush Script MT",cursive;
    text-align:left;
    font-size: 1.5em;
    line-height: 1.4em;
}
a .email{
    text-decoration:bold;
}

}
footer {
    border-top: 2px solid #000000;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 2em;
}

ul.posts li {
    list-style: none;
}
