html{
    background-color:#d32f2f;
    background-size:cover;
    font-size: 18px;
    font-family:'arvo',serif ;
    font-color:black;
}
header {
    background: #64B5F6;
    text-align:center;
    font-family: 'Arvo',serif;
    margin-top: -25px;
    padding:25px;


}

body {
    
    margin: 60px auto;
    width: 100%;
    max-width:100%;
}



a {
    text-decoration: none;
    color:black;
}
a:hover {
    text-decoration: none;
    color: red;
    
}


   

div .php-image{
    float:left;
    padding:40px;
    width:50%;
    clear:both;
    text-align: center;

}
div.intro{
    float:left;
    width:50%;
    font-family: 'arvo',serif;
    text-align:left;
    font-size: 1.5rem;
    line-height: 1.4rem;
    clear:both;
    color: black;
}
a .email{
    text-decoration:bold;
}

footer {
    border-top: 2px solid #000000;
    background: #64B5F6;
    font-size: 1rem;
    clear:both;
    height: 160px;
}
ul{

    margin: 20px auto 40px; 
    font-size: 1em;
    text-align: center;

    
}

 li {
    list-style: none;
    display: inline;
    text-align: center;
   padding: 50px;
}

.container {
    max-width: 1020px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    zoom: 1;

}




.columns:first-child {
    margin-left: 0;
}
.columns {
    float: left;
    display: block;
    margin-left: 1.5%;
    margin-bottom: 10px;
    vertical-align: top;
}
































